<!-- Begin Post-->
<section id="post-section" class="post-section">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <div class="post-body">
                    	<p><img class="img-responsive feature-image" src="{{ site.baseurl }}/img/maslow.jpg" style="display:none"></p>
			            	<h5><a target="_blank" href='http://www.maslowcafe.nl'>After Party location: Maslow</a></h5>
                        	<p>We'll be partying at <a href='http://www.maslowcafe.nl'>Maslow</a>, <i>the</i> living room of Science Park, as they like to describe themselves. Located at the entrance of Science Park and having a large terras outside Maslow is the perfect place for a great party. After a full day of sessions and workshops the after party proves to be a great time to continue the discussions with new found friends having the pleasure of drinking a beer and eating a bitterbal. We'll give away a device or two as well, so we hope to see a lot of you there! The after party starts at 5pm and is supposed to end at 7pm... We'll see ;-)</p>
                    </div>

                </article>

            </div>
        </div>
    </div>
</section>
<!-- End Post -->