<!-- Begin Post-->
<section id="post-section" class="post-section">
    <div class="content-wrapper text-left">
        <div class="col-md-10 col-sm-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1">
            <div class="col-lg-8 col-md-10 col-xs-12">
                <article class="row post">
                    <div class="post-body">
                    	<p><img class="img-responsive feature-image" src="{{ site.baseurl }}/img/barcamp-banner.jpg" style="display:none"></p>
                        <p><img src="{{ site.baseurl }}/img/barcamp.jpg" align="right" style="margin-left: 10px;"/> During lunch we will host a barcamp. This means you have the opportunity to literally stand on stage, with a microphone in your hand, maybe a slide or 2 and (at most) 5 minutes to pitch whatever you are passionate about. <br/>
                            <br/>
                            We have some goodies and give aways for those who take up on this challenge. If you are interested in pitching at the barcamp please <a href="">fill in this form</a> with your barcamp topic and slides (if necessary) and we'll queue you up!<br/>
                            <br/>
                            <strong>What can you say in five minutes? Here are some suggestions:</strong>

                        <ul>
                            <li>Why my favorite module / add-on package is X.</li>
                            <li>Why module / add-on package X sucks.</li>
                            <li>I want to do cool project X. Does anyone want to help?</li>
                            <li>Successful Project: I did project X. It was a success. Here's how you could benefit.</li>
                            <li>Failed Project: I did project X. It was a failure, and here's why.</li>
                            <li>Heresy: People always say X, but they're wrong. Here's why.</li>
                            <li>You All Suck: Here's what is wrong with our community.</li>
                            <li>Call to Action: Let's all do more of X / less of X.</li>
                            <li>A Funny Thing happened to me on the way to the DevFest</li>
                            <li>Wouldn't it be cool if X?</li>
                            <li>Someone needs to do X.</li>
                            <li>Wish List</li>
                            <li>Why X was a mistake.</li>
                            <li>Why X looks like a mistake, but isn't.</li>
                            <li>What it's like to do X.</li>
                            <li>Here's a useful technique that worked.</li>
                            <li>Here's a technique I thought would be useful but didn't work.</li>
                            <li>Comparison of similar add-on packages X and Y.</li>
                            <li>Why we should be paying more attention to X.</li>
                        </ul>

                        </p>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- End Post -->